<mat-toolbar color="primary">
    <span>
        <a mat-button routerLink="home">   <mat-icon>fact_check
        </mat-icon>PWA-1002
        </a>
    </span>
    <div>
        <a mat-button routerLinkActive="active" routerLink="multiplicion">Multiplicacion</a>
    </div>
    <div>
        <a mat-button routerLinkActive="active" routerLink="temperatura">Temperatura</a>
    </div>
    <div>
        <a mat-button routerLinkActive="active" routerLink="cinepolis">Cinepolis</a>
    </div>
    </mat-toolbar>
    <div>
        <router-outlet></router-outlet>
    </div>